@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  /* background-color: #252b42; */
  color: white;
}

.desktop-presentation {
  background-image: url('../img/background-content.svg');
  /* background-size: 768px 1366px; */
}

.desktop-navbar {
  font-size: 15px;
  border: 1px solid black;
  display: flex;
}

.mailing-input,
.desktop-navbar .left ul,
.desktop-navbar .left ul {
  display: flex;
}

.desktop-navbar .left ul {
  list-style: none;
  text-decoration: none;
}

.desktop-hero > img {
  /* height: 784px;
  width: 912px; */
  /* background-color: violet; */
}

.desktop-presentation .title-frame {
  /* background-color: violet; */
  float: right;
}

.desktop-features {
}

.desktop-hero {
}

.desktop-cta {
}

.desktop-partners {
}

.desktop-testimonials {
}

.desktop-pricing {
}

.desktop-contact {
}

.desktop-footer {
}
